
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope&display=swap');

*{
    font-family: 'Manrope', sans-serif;
}

.nav{
    display: block;
}


.title{
    font-family: 'Bebas Neue', cursive;
}



.titlelog{
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.containe{
    padding-left: 10%;
  max-width: 800px;
  width:fit-content;
  background: #fff;
  margin: 50px auto;
  box-shadow: 0 0 20px rgba(72,98,85, 0.6);
  box-sizing: border-box;
  padding: 40px;
}
.imgabout{
    padding-top: 4%;
    width: 90%; 
}
.aboutusp{
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%;
}
.column {
  position: relative;
    float: left;
    width: fit-content;
    padding-left: 7%;
    padding-right: 5%;
}
  
 
.row:after {
    content: "";
    display: table;
    clear: both;
}

.image{
    padding-top: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.topnav{
    background-color: white;
    overflow: hidden;
    
  }
  
.para{
    text-align: center;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    padding-top:2%;
}
.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
    font-size: 20px;
  }
  

  .topnav a:hover{
    background-color: #ddd;
    color: black;
  }
  

  .topnav a.active{
    
    color: #2e2e2e;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

   
    .underline-animation {
      display: inline-block;
      position: relative;
      color: #000;
    }
    
    .underline-animation:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #0087ca;
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    .underline-animation:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    .hover-rotate {
      overflow: hidden;
      margin: 8px;
      min-width: 240px;
      max-width: 320px;
      width: 100%;
    }
    
    .hover-rotate img {
      transition: all 0.3s;
      box-sizing: border-box;
      max-width: 100%;
    }
    
    .hover-rotate:hover img {
      transform: scale(1.3) rotate(5deg);
    }

    .iframelander{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .zoom {
      padding: 50px;
      transition: transform .2s; 
      width: 450px;
      height: fit-content;
      margin: 0 auto;
    }
    
    .zoom:hover {
      transform: scale(1.5); 
    }